<h2>Eventos</h2>
<hr>
<form action="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
     type="text"
     class="form-control"
     placeholder="Procurar evento..."
     [(ngModel)]="filtroLista"
     name="filtroLista"
    />
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark purple-head">
  <tr>
    <th>
      <button type="button" class="btn btn-outline-light btn-sm"
        (click)="alterarImagem()">
        {{exibirImagem ? 'Ocultar' : 'Exibir'}}
      </button>
    </th>
    <th scope="col">#</th>
    <th scope="col">Tema</th>
    <th scope="col">Local</th>
    <th scope="col">Data</th>
    <th scope="col">Qtd Pessoas</th>
    <th scope="col">Lote</th>
    <th scope="col">Opções</th>
  </tr>
</thead>

  <!-- <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
       (click)="alterarImagem()">
       {{exibirImagem ? 'Ocultar' : 'Exibir' }}
     </button>
    </th>
      <th scope="col">#</th>
      <th scope="col">Tema</th>
      <th scope="col">Local</th>
      <th scope="col">Data</th>
      <th scope="col">Qtd Pessoas</th>
      <th scope="col">Lote</th>
      <th scope="col">Opções</th>
    </tr>
  </thead> -->
  <tbody *ngIf=" eventos && eventos.length > 0;">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <div [ngbCollapse]="!exibirImagem" [animation]="true">
          <img [src]="'assets/imagens/' + evento.imagemURL"
               [style.width.px]="larguraImagem"
               [style.margin.px]="margemImagem"
               alt="{{ evento.tema }}"
          />
        </div>
      </td>
      <th scope="row">{{ evento.id }}</th>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | date: 'dd/MM/yyyy' }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
      {{ evento.Opcoes}}
      <button class="btn btn-primary btn-sm mr-2 btn-wide">Editar</button>
      <button class="btn btn-danger btn-sm btn-wide">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
       <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tbody>
   </table>




